.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.heading {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}